@import url(consts.css);

@media (prefers-color-scheme: light) {
  * {
    background-color: var(--lightwhite);
    color: var(--darkgrey);
    font-family: cursive;
  }
  .convert-btn {
    background-color: var(--darkgrey);
    color: var(--lightwhite);
  }
  .URL-input {
    outline: none;
    border: 3px solid var(--darkgrey);
  }
  .mainText {
    border: 2px solid var(--darkgrey);
    background-color: var(--darkgrey);
    border-radius: 20px;
    padding: 5px;
    color: var(--lightwhite);
  }
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: var(--darkgrey);
    color: var(--lightwhite);
    font-family: cursive;
  }
  .convert-btn {
    background-color: var(--lightwhite);
    color: var(--darkgrey);
  }
  .URL-input {
    outline: none;
    border: 3px solid var(--lightwhite);
  }
  .mainText {
    border: 2px solid var(--lightwhite);
    background-color: var(--lightwhite);
    border-radius: 20px;
    padding: 5px;
    color: var(--darkgrey);
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.video-download {
  border: 5px solid;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 25% 0 25%;
  text-align: center;
}

.convert-btn {
  font-weight: bold;
  margin: 25px 0 25px 0;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
}

.URL-input {
  max-width: 180px;
  min-width: 180px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.2s;
  min-height: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  resize: none;
  height: 0;
}

.URL-input::placeholder {
  color: #999;
  text-align: center;
}

.opt {
  appearance: none;
  padding: 8px 0 8px 0;
  border: 3px solid;
  border-radius: 5px;
  font-size: 12px;
  width: 80px;
  outline: none;
  cursor: pointer;
  position: relative;
  text-align: center;
}

.mp_link {
  border: 5px solid;
  border-radius: 20px;
}
