body{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 149, 255);
}

.video-heading{
    padding: 10px;
    margin: 10px 50px;
    color: white;
    background-color: rgb(20, 149, 255);
    border: 3px solid rgb(0, 80, 145);
    border-radius: 10px;
}

.URL-input, .convert-btn{
    font-size: 1.3rem;
    padding: 5px 10px;
}

.URL-input{
    border-radius: 5px;
    width: 30rem;
    text-align: left;
    border: 2px solid #eee;
    background: #eee;
    outline: none;
}

.URL-input:focus{
    border: 2px solid rgb(20, 149, 255);
}

.convert-btn{
    border-radius: 10px;
    border: 3px solid rgb(0, 80, 145);
    color: white;
    background-color: rgb(20, 149, 255);
    margin-top: 0.5rem;
}

.video-download{
    background-color: white;
    /* padding-top: 10px; */
    /* padding: 10px; */
    text-align: center;
    width: 500px;
    margin: 25vh auto;
    border-radius: 10px;
    border: 5px solid rgb(0, 80, 145);
}
